.homeHero {
  background-image: url("../public/assets/home-hero-background@2x.jpg");
  min-height: 100vh;
  background-size: cover;
}

.values {
  background-image: url("../public/assets/home-values-background@2x.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: unset;
  background-size: contain;
}

@supports (background-attachment: fixed) {
  .values {
    background-attachment: fixed;
    background-size: cover;
  }
}
