.homeHero {
  background-image: url("../public/assets/home-hero-background@2x.jpg");
  min-height: 100vh;
  background-size: cover;
}

.values {
  background-image: url("../public/assets/home-values-background@2x.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

@supports (background-attachment: fixed) {
  .values {
    background-image: url("../public/assets/home-values-background@2x.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
  }
}
