/* import google font */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Hind+Siliguri&display=swap");

html {
  scroll-behavior: smooth;
  font-size: 13px;
  color: #444444;
}

/* import tailwind */
@tailwind base;
@tailwind components;

@layer base {
  @font-face {
    font-family: Lancaste;
    font-weight: 400;
    src: url(./fonts/lancaste.woff) format("woff");
  }

  /* TODO : Lancaste font doesnt have accents */

  @font-face {
    font-family: Circular;
    font-weight: 300;
    src: url(./fonts/Circular/CircularStd-Light.otf) format("opentype");
  }

  @font-face {
    font-family: Circular;
    font-weight: 400;
    src: url(./fonts/Circular/CircularStd-Book.otf) format("opentype");
  }

  @font-face {
    font-family: Circular;
    font-weight: 500;
    src: url(./fonts/Circular/CircularStd-Medium.otf) format("opentype");
  }

  @font-face {
    font-family: Circular;
    font-weight: bold;
    src: url(./fonts/Circular/CircularStd-Bold.otf) format("opentype");
  }

  @font-face {
    font-family: Circular;
    font-weight: 900;
    src: url(./fonts/Circular/CircularStd-Black.otf) format("opentype");
  }
}

@tailwind utilities;

.wmde-markdown > * {
  font-family: "Circular", "Montserrat", "sans-serif" !important;
}

.surgeries-cities > *:not(:last-child):after {
  content: ", ";
}

.home-hero-surgery-categories > div:nth-child(6),
.home-hero-surgery-categories > div:nth-child(7),
.home-hero-surgery-categories > div:nth-child(8),
.home-hero-surgery-categories > div:nth-child(9) {
  display: none;
}

@media (min-width: 768px) {
  .home-hero-surgery-categories > div:nth-child(4),
  .home-hero-surgery-categories > div:nth-child(5),
  .home-hero-surgery-categories > div:nth-child(6),
  .home-hero-surgery-categories > div:nth-child(7),
  .home-hero-surgery-categories > div:nth-child(8) {
    display: flex;
  }
}

@media (min-width: 1024px) {
  .home-hero-surgery-categories > div:nth-child(7),
  .home-hero-surgery-categories > div:nth-child(8),
  .home-hero-surgery-categories > div:nth-child(9),
  .home-hero-surgery-categories > div:nth-child(10) {
    display: flex;
  }
}

/* zoomed img homecategory*/
.destinationHotel__card:hover .destinationHotel__image,
.clinic__card:hover .clinic__image,
.homeCategory__card:hover > div:first-of-type {
  transform: scale(1.1) !important;
}

.dropdown-options,
.dropdown-hotels,
.dropdown-cities,
.edit-operations ul {
  scrollbar-width: 0.5rem;
}

.dropdown-options::-webkit-scrollbar,
.dropdown-hotels::-webkit-scrollbar,
.dropdown-cities::-webkit-scrollbar,
.edit-operations ul::-webkit-scrollbar {
  width: 0.5rem;
  cursor: pointer;
}

.dropdown-options::-webkit-scrollbar-track,
.dropdown-hotels::-webkit-scrollbar-track,
.dropdown-cities::-webkit-scrollbar-track,
.edit-operations ul::-webkit-scrollbar-track {
  background-color: transparent;
}

.dropdown-options::-webkit-scrollbar-thumb,
.dropdown-hotels::-webkit-scrollbar-thumb,
.dropdown-cities::-webkit-scrollbar-thumb,
.edit-operations ul::-webkit-scrollbar-thumb {
  background: #33c383;
  border-radius: 3rem;
}

.loading__plusAnimation {
  animation: loading-animation 1.1s cubic-bezier(0.5, 0, 0.5, 1) infinite;
}

@keyframes loading-animation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.sideNav__dashboard:hover button,
.sideNav__dashboard:hover > svg {
  opacity: 0.5;
}

.react-datepicker__input-container input {
  outline: none;
  cursor: pointer;
  width: 4.5rem;
}

.react-datepicker-popper[data-placement^="bottom"]
  .react-datepicker__triangle::before,
.react-datepicker-popper[data-placement^="bottom"]
  .react-datepicker__triangle::after {
  border-bottom-color: #33c383 !important;
}

.react-datepicker__day--selected {
  background: #33c383 !important;
}

html body .react-datepicker__day-name,
html body .react-datepicker__current-month {
  color: #fff;
  font-family: "Circular", "Montserrat", "sans-serif" !important;
}
html body .react-datepicker__header {
  background: #33c383;
}
